<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=t("actions.new",  model: t("activerecord.models.#{controller_name.singularize}"))%></h3>
  </div>
  <div class="panel-body"> 
<%= form_for(@familium) do |f| %>
<%= render "partials/form_errors" %>
<div class="left-custom-column">
          <div class="field" style="margin-top: 10px;">
      <%= f.label :idFamilia %><br>
<%= f.number_field :idFamilia, placeholder: t('layouts.application.required'), i18n_name: t('familia.index.idFamilia'), required: true, readonly: false, minlength: 1, maxlength: 10, style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('familia.index.idFamilia') %>
    </div>
          <div class="field" style="margin-top: 10px;">
      <%= f.label :FamClave %><br>
<%= f.text_field :FamClave, placeholder: t('layouts.application.not_required'), i18n_name: t('familia.index.FamClave'), required: false, readonly: false, minlength: 1, maxlength: 4, style: 'width: 200px;', validation_type: 'text', :class => 'form-control', title: t('familia.index.FamClave') %>
    </div>
  </div>
<div class="right-custom-column">
          <div class="field" style="margin-top: 10px;">
      <%= f.label :FamDescripcion %><br>
<%= f.text_area :FamDescripcion, placeholder: t('layouts.application.not_required'), i18n_name: t('familia.index.FamDescripcion'), required: false, readonly: false, minlength: 1, maxlength: 100, style: 'width: 400px;', validation_type: 'text', :class => 'form-control', title: t('familia.index.FamDescripcion') %>
    </div>
  </div>
<div class='full-width'>
  <!--HERE GOES NESTED FORM-->
</div>
<br>
<div class='actions'>
  <%= f.submit data: {disable_with: t("actions.#{action_name}ing",  model: t("activerecord.models.#{controller_name.singularize}").titlecase)}, :class => "btn btn-sm btn-primary", title: t("actions.#{action_name}ing",  model: t("activerecord.models.#{controller_name.singularize}").titlecase) %>  
</div>
<% end %>
  </div>
</div>