<%= form_tag cortes_path, :method => "get", :id => "advanced-search-form"  do %>
<div class="modal-body" >
  <div  id="search-options" class="full-width">
    <%= select_tag(:search_by_or_and, options_for_select([[t("partials.search_options.or"), "OR"], [t("partials.search_options.and"), "AND"]], params[:search_by_or_and]), {:prompt => t('partials.search_options.search_by_or_and'), :style =>"margin-bottom: -5px; width: auto;"})%>
    <%= select_tag(:search_by, options_for_select([[t("partials.search_options.like"), false], [t("partials.search_options.equal"), true]], params[:search_by]), {:prompt => t('partials.search_options.search_by'), :style =>"margin-bottom: -5px; width: auto;"})%>           
    <%= select_tag(:order_by, options_for_select(@indexable_columns, params[:order_by]), {:prompt => t('partials.search_options.order_by'), :style =>"width: auto;"})%> 
    <%= select_tag(:sort_by, options_for_select([[t("partials.search_options.asc"), "ASC"], [t("partials.search_options.desc"), "DESC"]], params[:sort_by]), {:prompt => t('partials.search_options.sort_by'), :style =>"margin-bottom: -5px; width: auto;"})%>   
    <%= select_tag(:per_page, options_for_select([10,20,30,40,50,60,70,80,90,100, [t('partials.search_options.all_records'), eval("@#{controller_name}.count")]], params[:per_page].to_i), {:prompt => t('partials.search_options.select_page_numbers'), :style =>"width: auto;"})%>    
    <%= hidden_field_tag :controller_name, :controller_name, :value => controller_name, :read_only => true %>
  </div>
  <div class="left-custom-column">
    
      
      <div class="field">
        <%= label_tag t('cortes.show.id') %>
<%= number_field_tag :id, params[:id], placeholder: t('layouts.application.required'), i18n_name: t('cortes.index.id'), style: 'width: 40px;', validation_type: 'number', title: t('cortes.index.id') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.IDcorte') %>
<%= number_field_tag :IDcorte, params[:IDcorte], placeholder: t('layouts.application.required'), i18n_name: t('cortes.index.IDcorte'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.IDcorte') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.peso') %>
<%= number_field_tag :peso, params[:peso], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.peso'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.peso') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.piezas') %>
<%= number_field_tag :piezas, params[:piezas], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.piezas'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.piezas') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.IDlote') %>
<%= number_field_tag :IDlote, params[:IDlote], placeholder: t('layouts.application.required'), i18n_name: t('cortes.index.IDlote'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.IDlote') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.idArticulo') %>
<%= number_field_tag :idarticulo, params[:idarticulo], placeholder: t('layouts.application.required'), i18n_name: t('cortes.index.idArticulo'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.idArticulo') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.reempaque') %>
<%= text_field_tag :reempaque, params[:reempaque], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.reempaque'), style: 'width: 200px;', validation_type: 'text', :class => 'form-control', title: t('cortes.index.reempaque') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.Etiqueta') %>
<%= text_field_tag :Etiqueta, params[:Etiqueta], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.Etiqueta'), style: 'width: 200px;', validation_type: 'text', :class => 'form-control', title: t('cortes.index.Etiqueta') %>
      </div>
    
  </div>
  <div class="right-custom-column">
    
      
      <div class="field">
        <%= label_tag t('cortes.show.eliminado') %>
<%= check_box_tag :eliminado, params[:eliminado], i18n_name: t('cortes.index.eliminado'), checked: false, validation_type: 'boolean', :class => 'form-control', title: t('cortes.index.eliminado') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.vendido') %>
<%= check_box_tag :vendido, params[:vendido], i18n_name: t('cortes.index.vendido'), checked: false, validation_type: 'boolean', :class => 'form-control', title: t('cortes.index.vendido') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.agregado') %>
<%= number_field_tag :agregado, params[:agregado], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.agregado'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.agregado') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.Estatus') %>
<%= text_field_tag :Estatus, params[:Estatus], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.Estatus'), style: 'width: 200px;', validation_type: 'text', :class => 'form-control', title: t('cortes.index.Estatus') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.Inventariado') %>
<%= check_box_tag :Inventariado, params[:Inventariado], i18n_name: t('cortes.index.Inventariado'), checked: false, validation_type: 'boolean', :class => 'form-control', title: t('cortes.index.Inventariado') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.Consecutivo') %>
<%= number_field_tag :Consecutivo, params[:Consecutivo], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.Consecutivo'), style: 'width: 200px;', validation_type: 'number', :class => 'form-control', title: t('cortes.index.Consecutivo') %>
      </div>
    
      
      <div class="field">
        <%= label_tag t('cortes.show.Caducidad') %>
<%= text_field_tag :Caducidad, params[:Caducidad], placeholder: t('layouts.application.not_required'), i18n_name: t('cortes.index.Caducidad'), style: 'width: 200px;', validation_type: 'date', :class => 'form-control', title: t('cortes.index.Caducidad') %>
      </div>
    
  </div>
</div>
<div class="modal-footer">
  <%=link_to  "#", title: t("layouts.application.form_reset"), onclick: "formReset($('#advanced-search-form'));", :class => 'btn btn-sm btn-default' do%>
  <i class="icon-refresh"></i>
  <%end%>
  <button type="button" class="btn btn-default" data-dismiss="modal"><%=t(:cancel)%></button>
  <%= submit_tag t("actions.search",  model: t("activerecord.models.#{controller_name}").titlecase), data: {disable_with: t("actions.searching",  model: t("activerecord.models.#{controller_name}").titlecase)}, :class => "btn btn-sm btn-primary", title: t("actions.search",  model: t("activerecord.models.#{controller_name}").titlecase) %> 
</div>
<% end %>
