<%if signed_in? and current_user.role.superadmin%>
  <li class="active"><%=link_to root_path, title: t("layouts.application.tools") do%>
      <i class="fa fa-fw fa-dashboard"></i><%=t("layouts.application.tools")%></li>
  <%end%>
<%elsif !signed_in?%>
  <li class="active"><%=link_to new_user_session_path, title: t(:login), :id => "sidemenu-sessions" do%>
      <i class="fa fa-fw fa-sign-in"></i><%=t(:login)%>
    <%end%></li>
<%end%>

<%if signed_in?%>
  <li class="active"><%=link_to root_path, title: t("layouts.application.menu") do%>
      <i class="fa fa-fw fa-dashboard"></i><%=t("layouts.application.menu")%></li>
  <%end%>
  <% @sidebar.each do |model|%>
    <%if can? :index, to_model(model["name"]) %>
      <li><%=link_to eval("#{to_controller_name(model["name"])}_path"), title: model["human_name"], :id => "sidemenu" + to_controller_name(model["name"]) do%>
          <i class="fa fa-fw fa-arrow-right"></i><%=model["human_name"] + " (" + to_model(model["name"]).count.to_s + ")"%></li>
      <%end%>
      </hr>
    <%end%> 
  <%end%>
<%end%>


<%#= link_to image_tag("/assets/LogoEMC.png", size: '240x260'), root_path %>