<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=t("actions.new",  model: t("activerecord.models.#{controller_name.singularize}"))%></h3>
  </div>
  <div class="panel-body">                    
    <%= form_for(@user) do |f| %>
      <%= render "partials/form_errors" %>
      <div class="row">
        <div class="col-lg-6">
          <div class="field">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name, :i18n_name => t('users.index.first_name'),  :required => true, :readonly => false, :minlength => 1, :maxlength => 30, :size => 40, :validation_type => 'name',    :placeholder => t('layouts.application.required'), :title => t('users.index.first_name'), :class=>"form-control" %>
          </div>
          <div class="field">
            <%= f.label :last_name %><br>
            <%= f.text_field :last_name, :i18n_name => t('users.index.last_name'),  :required => true, :readonly => false, :minlength => 1, :maxlength => 30, :size => 40, :validation_type => 'name',    :placeholder => t('layouts.application.required'), :title => t('users.index.last_name'), :class=>"form-control" %>
          </div>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, :autofocus => false, :required => true, :i18n_name => t('users.index.email'), :minlength => 6, :maxlength => 60, :size => 40, :validation_type => 'email', :placeholder => t('layouts.application.required'), :title => t('layouts.application.required'), :class=>"form-control"%>
          </div>
          <%if signed_in? and (current_user.role.superadmin or current_user.role.administrator)%>
            <div class="field">
              <%= f.label :role_id %><br>
              <%= f.collection_select(:role_id, @roles_select, :id, :select_display, {:prompt => true}, {:i18n_name => t('users.index.role_id'),  :required => true, :readonly => false, :minlength => 1, :maxlength => 3, :validation_type => 'number',    :placeholder => t('layouts.application.required'), :title => t('users.index.role_id'), :class=>"form-control"}) %>  
            </div>  
            <div class="field" style="margin-top: 8px;">
              <%= f.label :active %>
              <%= f.check_box :active, :checked => true, :i18n_name => t('users.index.active'), :required => true, :readonly => false, :minlength => 1, :maxlength => 5, :size => 40, :validation_type => 'number',    :placeholder => t('layouts.application.required'), :title => t('users.index.active')%><br>
            </div>
          <%else%>
            <% f.hidden_field :role_id, :value => @role.id, :readonly => true %>
          <%end%>
          <div class='actions'>
            <%= f.submit data: {disable_with: t("actions.#{action_name}ing",  model: t("activerecord.models.#{controller_name.singularize}").titlecase)}, :class => "btn btn-sm btn-primary" %>  
          </div>
          <br>     <br>
        </div>
      </div>
    <% end %>
  </div>
</div>